# Drop all rows with YearMade=1000

In [ ]:
import pandas as pd
df = pd.read_csv("Train.csv")

<ipython-input-145-97fbf718528a>:2: DtypeWarning: Columns (13,39,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Train.csv")

In [ ]:
missing_data = df.isna().sum()
print(missing_data[missing_data>0])

auctioneerID                 20136
MachineHoursCurrentMeter    258360
UsageBand                   331486
fiSecondaryDesc             137191
fiModelSeries               344217
fiModelDescriptor           329206
ProductSize                 210775
Drive_System                296764
Enclosure                      325
Forks                       209048
Pad_Type                    321991
Ride_Control                252519
Stick                       321991
Transmission                217895
Turbocharged                321991
Blade_Extension             375906
Blade_Width                 375906
Enclosure_Type              375906
Engine_Horsepower           375906
Hydraulics                   80555
Pushblock                   375906
Ripper                      296988
Scarifier                   375895
Tip_Control                 375906
Tire_Size                   306407
Coupler                     187173
Coupler_System              357667
Grouser_Tracks              357763
Hydraulics_Flow             357763
Track_Type                  301972
Undercarriage_Pad_Width     301253
Stick_Length                301907
Thumb                       301837
Pattern_Changer             301907
Grouser_Type                301972
Backhoe_Mounting            322453
Blade_Type                  321292
Travel_Controls             321291
Differential_Type           331714
Steering_Controls           331756
dtype: int64

In [ ]:
missing_percentages = (df.isna().sum() / len(df)) * 100
missing_percentages_sorted=missing_percentages[missing_percentages>0].sort_values(ascending=False)
print(missing_percentages_sorted)

Pushblock                   93.712932
Blade_Extension             93.712932
Tip_Control                 93.712932
Engine_Horsepower           93.712932
Enclosure_Type              93.712932
Blade_Width                 93.712932
Scarifier                   93.710190
Hydraulics_Flow             89.189903
Grouser_Tracks              89.189903
Coupler_System              89.165971
fiModelSeries               85.812901
Steering_Controls           82.706388
Differential_Type           82.695918
UsageBand                   82.639078
fiModelDescriptor           82.070676
Backhoe_Mounting            80.387161
Stick                       80.271985
Pad_Type                    80.271985
Turbocharged                80.271985
Blade_Type                  80.097725
Travel_Controls             80.097476
Tire_Size                   76.386912
Grouser_Type                75.281271
Track_Type                  75.281271
Stick_Length                75.265067
Pattern_Changer             75.265067
Thumb                       75.247616
Undercarriage_Pad_Width     75.102026
Ripper                      74.038766
Drive_System                73.982923
MachineHoursCurrentMeter    64.408850
Ride_Control                62.952696
Transmission                54.320972
ProductSize                 52.545964
Forks                       52.115425
Coupler                     46.662013
fiSecondaryDesc             34.201558
Hydraulics                  20.082269
auctioneerID                 5.019882
Enclosure                    0.081022
dtype: float64

In [ ]:
col_to_drop=missing_percentages_sorted[missing_percentages_sorted>91].index
df=df.drop(columns=col_to_drop)
print(col_to_drop)

Index(['Pushblock', 'Blade_Extension', 'Tip_Control', 'Engine_Horsepower',
       'Enclosure_Type', 'Blade_Width', 'Scarifier'],
      dtype='object')

In [ ]:
df = df[df['YearMade'] != 1000]

In [ ]:
print(df.columns)

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Hydraulics', 'Ripper',
       'Tire_Size', 'Coupler', 'Coupler_System', 'Grouser_Tracks',
       'Hydraulics_Flow', 'Track_Type', 'Undercarriage_Pad_Width',
       'Stick_Length', 'Thumb', 'Pattern_Changer', 'Grouser_Type',
       'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls'],
      dtype='object')

In [ ]:
print(df.shape)

(362940, 46)

In [ ]:
import numpy as np

# Convert 'date_of_sale' to datetime format (ensure the correct format is used for 'saledate')
df['date_of_sale'] = pd.to_datetime(df['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Calculate car age, excluding rows where 'YearMade' is 1000
df['CarAge'] = df.apply(lambda row: (row['date_of_sale'] - pd.to_datetime(str(row['YearMade']), format='%Y')).days // 365 if row['YearMade'] != 1000 else np.nan, axis=1)

# View the updated dataframe
print(df.head())

   SalesID  SalePrice  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1139246      66000     999089     3157         121           3.0      2004
1  1139248      57000     117657       77         121           3.0      1996
2  1139249      10000     434808     7009         121           3.0      2001
3  1139251      38500    1026470      332         121           3.0      2001
4  1139253      11000    1057373    17311         121           3.0      2007

   MachineHoursCurrentMeter UsageBand         saledate  ... Thumb  \
0                      68.0       Low  11/16/2006 0:00  ...   NaN
1                    4640.0       Low   3/26/2004 0:00  ...   NaN
2                    2838.0      High   2/26/2004 0:00  ...   NaN
3                    3486.0      High   5/19/2011 0:00  ...   NaN
4                     722.0    Medium   7/23/2009 0:00  ...   NaN

  Pattern_Changer Grouser_Type Backhoe_Mounting Blade_Type Travel_Controls  \
0             NaN          NaN              NaN        NaN             NaN
1             NaN          NaN              NaN        NaN             NaN
2             NaN          NaN              NaN        NaN             NaN
3             NaN          NaN              NaN        NaN             NaN
4             NaN          NaN              NaN        NaN             NaN

  Differential_Type Steering_Controls date_of_sale CarAge
0          Standard      Conventional   2006-11-16      2
1          Standard      Conventional   2004-03-26      8
2               NaN               NaN   2004-02-26      3
3               NaN               NaN   2011-05-19     10
4               NaN               NaN   2009-07-23      2

[5 rows x 48 columns]

In [ ]:
# Function to determine the season based on meteorological seasons
def get_season(date):
    if pd.isna(date):
        return None

    month = date.month
    if month in [12, 1, 2]:
        return 'winter'
    elif month in [3, 4, 5]:
        return 'spring'
    elif month in [6, 7, 8]:
        return 'summer'
    else:  # month in [9, 10, 11]
        return 'autumn'

# Apply the function to the dataset
df['season'] = df['date_of_sale'].apply(get_season)

# Display the updated data
print(df[['date_of_sale', 'season']].head())

  date_of_sale  season
0   2006-11-16  autumn
1   2004-03-26  spring
2   2004-02-26  winter
3   2011-05-19  spring
4   2009-07-23  summer

In [ ]:

        # Extract numerical features from the date
        df['year'] = df['date_of_sale'].dt.year
        df['month'] = df['date_of_sale'].dt.month
        df['day'] = df['date_of_sale'].dt.day
        df['day_of_week'] = df['date_of_sale'].dt.dayofweek  # Optional

        # Drop the original 'date_of_sale' column
        df.drop(columns=['date_of_sale'], inplace=True)

In [ ]:
print(df.columns)

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Hydraulics', 'Ripper',
       'Tire_Size', 'Coupler', 'Coupler_System', 'Grouser_Tracks',
       'Hydraulics_Flow', 'Track_Type', 'Undercarriage_Pad_Width',
       'Stick_Length', 'Thumb', 'Pattern_Changer', 'Grouser_Type',
       'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge', 'season', 'year',
       'month', 'day', 'day_of_week'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 362940 entries, 0 to 401124
Data columns (total 52 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   362940 non-null  int64
 1   SalePrice                 362940 non-null  int64
 2   MachineID                 362940 non-null  int64
 3   ModelID                   362940 non-null  int64
 4   datasource                362940 non-null  int64
 5   auctioneerID              345366 non-null  float64
 6   YearMade                  362940 non-null  int64
 7   MachineHoursCurrentMeter  126267 non-null  float64
 8   UsageBand                 64578 non-null   object
 9   saledate                  362940 non-null  object
 10  fiModelDesc               362940 non-null  object
 11  fiBaseModel               362940 non-null  object
 12  fiSecondaryDesc           243134 non-null  object
 13  fiModelSeries             47549 non-null   object
 14  fiModelDescriptor         67535 non-null   object
 15  ProductSize               170537 non-null  object
 16  fiProductClassDesc        362940 non-null  object
 17  state                     362940 non-null  object
 18  ProductGroup              362940 non-null  object
 19  ProductGroupDesc          362940 non-null  object
 20  Drive_System              96786 non-null   object
 21  Enclosure                 362685 non-null  object
 22  Forks                     176871 non-null  object
 23  Pad_Type                  74356 non-null   object
 24  Ride_Control              137408 non-null  object
 25  Stick                     74356 non-null   object
 26  Transmission              168987 non-null  object
 27  Turbocharged              74356 non-null   object
 28  Hydraulics                287371 non-null  object
 29  Ripper                    94648 non-null   object
 30  Tire_Size                 85463 non-null   object
 31  Coupler                   190892 non-null  object
 32  Coupler_System            39454 non-null   object
 33  Grouser_Tracks            39373 non-null   object
 34  Hydraulics_Flow           39373 non-null   object
 35  Track_Type                87002 non-null   object
 36  Undercarriage_Pad_Width   87522 non-null   object
 37  Stick_Length              87055 non-null   object
 38  Thumb                     87112 non-null   object
 39  Pattern_Changer           87055 non-null   object
 40  Grouser_Type              87002 non-null   object
 41  Backhoe_Mounting          72034 non-null   object
 42  Blade_Type                72900 non-null   object
 43  Travel_Controls           72904 non-null   object
 44  Differential_Type         62983 non-null   object
 45  Steering_Controls         62947 non-null   object
 46  CarAge                    362940 non-null  int64
 47  season                    362940 non-null  object
 48  year                      362940 non-null  int32
 49  month                     362940 non-null  int32
 50  day                       362940 non-null  int32
 51  day_of_week               362940 non-null  int32
dtypes: float64(2), int32(4), int64(7), object(39)
memory usage: 141.2+ MB

In [ ]:
print(df.shape)

(362940, 52)

In [ ]:
df2=df.copy()
df2.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge,season,year,month,day,day_of_week
0,1139246,66000,999089,3157,121,3.0,2004,68.0,Low,11/16/2006 0:00,...,NaN,NaN,Standard,Conventional,2,autumn,2006,11,16,3
1,1139248,57000,117657,77,121,3.0,1996,4640.0,Low,3/26/2004 0:00,...,NaN,NaN,Standard,Conventional,8,spring,2004,3,26,4
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,High,2/26/2004 0:00,...,NaN,NaN,NaN,NaN,3,winter,2004,2,26,3
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,High,5/19/2011 0:00,...,NaN,NaN,NaN,NaN,10,spring,2011,5,19,3
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,Medium,7/23/2009 0:00,...,NaN,NaN,NaN,NaN,2,summer,2009,7,23,3

In [ ]:
df2=df.copy()

In [ ]:
# turn all string/category columns into integers
for col in df2.select_dtypes(['object']):
    df2[col] = df[col].astype('category')
df2.info()

for col in df2.select_dtypes(['category']):
    df2[col] = df2[col].cat.codes

df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 362940 entries, 0 to 401124
Data columns (total 52 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   362940 non-null  int64
 1   SalePrice                 362940 non-null  int64
 2   MachineID                 362940 non-null  int64
 3   ModelID                   362940 non-null  int64
 4   datasource                362940 non-null  int64
 5   auctioneerID              345366 non-null  float64
 6   YearMade                  362940 non-null  int64
 7   MachineHoursCurrentMeter  126267 non-null  float64
 8   UsageBand                 64578 non-null   category
 9   saledate                  362940 non-null  category
 10  fiModelDesc               362940 non-null  category
 11  fiBaseModel               362940 non-null  category
 12  fiSecondaryDesc           243134 non-null  category
 13  fiModelSeries             47549 non-null   category
 14  fiModelDescriptor         67535 non-null   category
 15  ProductSize               170537 non-null  category
 16  fiProductClassDesc        362940 non-null  category
 17  state                     362940 non-null  category
 18  ProductGroup              362940 non-null  category
 19  ProductGroupDesc          362940 non-null  category
 20  Drive_System              96786 non-null   category
 21  Enclosure                 362685 non-null  category
 22  Forks                     176871 non-null  category
 23  Pad_Type                  74356 non-null   category
 24  Ride_Control              137408 non-null  category
 25  Stick                     74356 non-null   category
 26  Transmission              168987 non-null  category
 27  Turbocharged              74356 non-null   category
 28  Hydraulics                287371 non-null  category
 29  Ripper                    94648 non-null   category
 30  Tire_Size                 85463 non-null   category
 31  Coupler                   190892 non-null  category
 32  Coupler_System            39454 non-null   category
 33  Grouser_Tracks            39373 non-null   category
 34  Hydraulics_Flow           39373 non-null   category
 35  Track_Type                87002 non-null   category
 36  Undercarriage_Pad_Width   87522 non-null   category
 37  Stick_Length              87055 non-null   category
 38  Thumb                     87112 non-null   category
 39  Pattern_Changer           87055 non-null   category
 40  Grouser_Type              87002 non-null   category
 41  Backhoe_Mounting          72034 non-null   category
 42  Blade_Type                72900 non-null   category
 43  Travel_Controls           72904 non-null   category
 44  Differential_Type         62983 non-null   category
 45  Steering_Controls         62947 non-null   category
 46  CarAge                    362940 non-null  int64
 47  season                    362940 non-null  category
 48  year                      362940 non-null  int32
 49  month                     362940 non-null  int32
 50  day                       362940 non-null  int32
 51  day_of_week               362940 non-null  int32
dtypes: category(39), float64(2), int32(4), int64(7)
memory usage: 48.9 MB
<class 'pandas.core.frame.DataFrame'>
Index: 362940 entries, 0 to 401124
Data columns (total 52 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   362940 non-null  int64
 1   SalePrice                 362940 non-null  int64
 2   MachineID                 362940 non-null  int64
 3   ModelID                   362940 non-null  int64
 4   datasource                362940 non-null  int64
 5   auctioneerID              345366 non-null  float64
 6   YearMade                  362940 non-null  int64
 7   MachineHoursCurrentMeter  126267 non-null  float64
 8   UsageBand                 362940 non-null  int8
 9   saledate                  362940 non-null  int16
 10  fiModelDesc               362940 non-null  int16
 11  fiBaseModel               362940 non-null  int16
 12  fiSecondaryDesc           362940 non-null  int16
 13  fiModelSeries             362940 non-null  int8
 14  fiModelDescriptor         362940 non-null  int16
 15  ProductSize               362940 non-null  int8
 16  fiProductClassDesc        362940 non-null  int8
 17  state                     362940 non-null  int8
 18  ProductGroup              362940 non-null  int8
 19  ProductGroupDesc          362940 non-null  int8
 20  Drive_System              362940 non-null  int8
 21  Enclosure                 362940 non-null  int8
 22  Forks                     362940 non-null  int8
 23  Pad_Type                  362940 non-null  int8
 24  Ride_Control              362940 non-null  int8
 25  Stick                     362940 non-null  int8
 26  Transmission              362940 non-null  int8
 27  Turbocharged              362940 non-null  int8
 28  Hydraulics                362940 non-null  int8
 29  Ripper                    362940 non-null  int8
 30  Tire_Size                 362940 non-null  int8
 31  Coupler                   362940 non-null  int8
 32  Coupler_System            362940 non-null  int8
 33  Grouser_Tracks            362940 non-null  int8
 34  Hydraulics_Flow           362940 non-null  int8
 35  Track_Type                362940 non-null  int8
 36  Undercarriage_Pad_Width   362940 non-null  int8
 37  Stick_Length              362940 non-null  int8
 38  Thumb                     362940 non-null  int8
 39  Pattern_Changer           362940 non-null  int8
 40  Grouser_Type              362940 non-null  int8
 41  Backhoe_Mounting          362940 non-null  int8
 42  Blade_Type                362940 non-null  int8
 43  Travel_Controls           362940 non-null  int8
 44  Differential_Type         362940 non-null  int8
 45  Steering_Controls         362940 non-null  int8
 46  CarAge                    362940 non-null  int64
 47  season                    362940 non-null  int8
 48  year                      362940 non-null  int32
 49  month                     362940 non-null  int32
 50  day                       362940 non-null  int32
 51  day_of_week               362940 non-null  int32
dtypes: float64(2), int16(5), int32(4), int64(7), int8(34)
memory usage: 48.5 MB

In [ ]:
print(df2.shape)

(362940, 52)

In [ ]:
print(df2.columns)

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Hydraulics', 'Ripper',
       'Tire_Size', 'Coupler', 'Coupler_System', 'Grouser_Tracks',
       'Hydraulics_Flow', 'Track_Type', 'Undercarriage_Pad_Width',
       'Stick_Length', 'Thumb', 'Pattern_Changer', 'Grouser_Type',
       'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge', 'season', 'year',
       'month', 'day', 'day_of_week'],
      dtype='object')

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 362940 entries, 0 to 401124
Data columns (total 52 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   SalesID                   362940 non-null  int64
 1   SalePrice                 362940 non-null  int64
 2   MachineID                 362940 non-null  int64
 3   ModelID                   362940 non-null  int64
 4   datasource                362940 non-null  int64
 5   auctioneerID              345366 non-null  float64
 6   YearMade                  362940 non-null  int64
 7   MachineHoursCurrentMeter  126267 non-null  float64
 8   UsageBand                 362940 non-null  int8
 9   saledate                  362940 non-null  int16
 10  fiModelDesc               362940 non-null  int16
 11  fiBaseModel               362940 non-null  int16
 12  fiSecondaryDesc           362940 non-null  int16
 13  fiModelSeries             362940 non-null  int8
 14  fiModelDescriptor         362940 non-null  int16
 15  ProductSize               362940 non-null  int8
 16  fiProductClassDesc        362940 non-null  int8
 17  state                     362940 non-null  int8
 18  ProductGroup              362940 non-null  int8
 19  ProductGroupDesc          362940 non-null  int8
 20  Drive_System              362940 non-null  int8
 21  Enclosure                 362940 non-null  int8
 22  Forks                     362940 non-null  int8
 23  Pad_Type                  362940 non-null  int8
 24  Ride_Control              362940 non-null  int8
 25  Stick                     362940 non-null  int8
 26  Transmission              362940 non-null  int8
 27  Turbocharged              362940 non-null  int8
 28  Hydraulics                362940 non-null  int8
 29  Ripper                    362940 non-null  int8
 30  Tire_Size                 362940 non-null  int8
 31  Coupler                   362940 non-null  int8
 32  Coupler_System            362940 non-null  int8
 33  Grouser_Tracks            362940 non-null  int8
 34  Hydraulics_Flow           362940 non-null  int8
 35  Track_Type                362940 non-null  int8
 36  Undercarriage_Pad_Width   362940 non-null  int8
 37  Stick_Length              362940 non-null  int8
 38  Thumb                     362940 non-null  int8
 39  Pattern_Changer           362940 non-null  int8
 40  Grouser_Type              362940 non-null  int8
 41  Backhoe_Mounting          362940 non-null  int8
 42  Blade_Type                362940 non-null  int8
 43  Travel_Controls           362940 non-null  int8
 44  Differential_Type         362940 non-null  int8
 45  Steering_Controls         362940 non-null  int8
 46  CarAge                    362940 non-null  int64
 47  season                    362940 non-null  int8
 48  year                      362940 non-null  int32
 49  month                     362940 non-null  int32
 50  day                       362940 non-null  int32
 51  day_of_week               362940 non-null  int32
dtypes: float64(2), int16(5), int32(4), int64(7), int8(34)
memory usage: 48.5 MB

In [ ]:
# create X and y
X = df2.drop(columns=['SalePrice','saledate'])
display(X.head())
y = df2['SalePrice']
display(y)

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,fiBaseModel,...,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge,season,year,month,day,day_of_week
0,1139246,999089,3157,121,3.0,2004,68.0,1,902,284,...,-1,-1,3,1,2,0,2006,11,16,3
1,1139248,117657,77,121,3.0,1996,4640.0,1,1631,503,...,-1,-1,3,1,8,1,2004,3,26,4
2,1139249,434808,7009,121,3.0,2001,2838.0,0,308,105,...,-1,-1,-1,-1,3,3,2004,2,26,3
3,1139251,1026470,332,121,3.0,2001,3486.0,0,3375,1267,...,-1,-1,-1,-1,10,1,2011,5,19,3
4,1139253,1057373,17311,121,3.0,2007,722.0,2,3854,1402,...,-1,-1,-1,-1,2,2,2009,7,23,3

0         66000
1         57000
2         10000
3         38500
4         11000
          ...
401120    10500
401121    11000
401122    11500
401123     9000
401124     7750
Name: SalePrice, Length: 362940, dtype: int64

In [ ]:
# split into X_train, X_test, y_train, y_test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size=0.7)
X_train

,SalesID,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,fiModelDesc,fiBaseModel,...,Blade_Type,Travel_Controls,Differential_Type,Steering_Controls,CarAge,season,year,month,day,day_of_week
161986,1583395,1339851,7944,132,1.0,1997,NaN,-1,53,17,...,-1,-1,-1,-1,12,2,2009,6,17,2
313625,2277420,64812,1561,136,NaN,1992,0.0,-1,2024,652,...,5,5,-1,-1,16,2,2008,8,15,4
159757,1578605,1458301,4799,132,1.0,1990,NaN,-1,1275,382,...,-1,-1,3,1,15,3,2005,12,14,2
115160,1452096,1337416,3854,132,19.0,1972,NaN,-1,1653,509,...,-1,-1,3,1,34,2,2006,7,19,2
309031,2263283,1338987,2751,136,1.0,1993,0.0,-1,2006,652,...,5,5,-1,-1,14,0,2007,9,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125971,1472993,1418199,7511,132,9.0,1990,NaN,-1,2302,717,...,-1,-1,-1,-1,11,3,2001,2,21,2
285000,2195809,1719939,3176,136,1.0,1986,0.0,-1,1012,310,...,-1,-1,-1,-1,22,0,2008,9,23,1
138024,1497913,1498308,77,132,2.0,1994,NaN,-1,1631,503,...,-1,-1,3,1,7,2,2001,8,10,4
152959,1532467,1401019,7052,132,2.0,1994,NaN,-1,443,165,...,-1,-1,-1,-1,8,0,2002,9,21,5
128050,1476173,1157760,7277,132,1.0,1977,NaN,-1,1625,503,...,-1,-1,3,1,25,1,2002,3,20,2

In [ ]:
# print the RMSE accuracy of the baseline (std dev)
print("RMSE Baseline accuracy:", y_test.std())

RMSE Baseline accuracy: 23344.73278840669

In [ ]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100,random_state=42, n_jobs=-1)
model = model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
y_test_pred = model.predict(X_test)

def RMSE(y_, y_pred_):
    return ((y_ - y_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y_train, y_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y_test, y_test_pred):.3f}')

Train RMSE: 2678.343
Test RMSE: 7064.623

In [ ]:
# Train the Isolation Forest model
from sklearn.ensemble import IsolationForest
iso_forest = IsolationForest(n_estimators=100, contamination=0.01, random_state=42)
iso_forest.fit(X_train)

# Predict anomaly scores and labels on a copy of X_test
X_test_copy = X_test.copy()
df2['anomaly_score'] = iso_forest.decision_function(X)  # Quantitative weirdness
df2['anomaly'] = iso_forest.predict(X)  # Binary anomaly label
df2['anomaly_label'] = df2['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

In [ ]:
df2.anomaly.value_counts()

anomaly
 1    359340
-1      3600
Name: count, dtype: int64

In [ ]:
df3=df2.copy()
df3.head()

,SalesID,SalePrice,MachineID,ModelID,datasource,auctioneerID,YearMade,MachineHoursCurrentMeter,UsageBand,saledate,...,Steering_Controls,CarAge,season,year,month,day,day_of_week,anomaly_score,anomaly,anomaly_label
0,1139246,66000,999089,3157,121,3.0,2004,68.0,1,657,...,1,2,0,2006,11,16,3,0.044164,1,Normal
1,1139248,57000,117657,77,121,3.0,1996,4640.0,1,1694,...,1,8,1,2004,3,26,4,0.046730,1,Normal
2,1139249,10000,434808,7009,121,3.0,2001,2838.0,0,1361,...,-1,3,3,2004,2,26,3,0.062285,1,Normal
3,1139251,38500,1026470,332,121,3.0,2001,3486.0,0,2357,...,-1,10,1,2011,5,19,3,0.061100,1,Normal
4,1139253,11000,1057373,17311,121,3.0,2007,722.0,2,3133,...,-1,2,2,2009,7,23,3,0.032889,1,Normal

In [ ]:
print(df3.columns)

Index(['SalesID', 'SalePrice', 'MachineID', 'ModelID', 'datasource',
       'auctioneerID', 'YearMade', 'MachineHoursCurrentMeter', 'UsageBand',
       'saledate', 'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc',
       'fiModelSeries', 'fiModelDescriptor', 'ProductSize',
       'fiProductClassDesc', 'state', 'ProductGroup', 'ProductGroupDesc',
       'Drive_System', 'Enclosure', 'Forks', 'Pad_Type', 'Ride_Control',
       'Stick', 'Transmission', 'Turbocharged', 'Hydraulics', 'Ripper',
       'Tire_Size', 'Coupler', 'Coupler_System', 'Grouser_Tracks',
       'Hydraulics_Flow', 'Track_Type', 'Undercarriage_Pad_Width',
       'Stick_Length', 'Thumb', 'Pattern_Changer', 'Grouser_Type',
       'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge', 'season', 'year',
       'month', 'day', 'day_of_week', 'anomaly_score', 'anomaly',
       'anomaly_label'],
      dtype='object')

In [ ]:
print(df3.shape)

(362940, 55)

In [ ]:
from sklearn.ensemble import IsolationForest
import matplotlib.pyplot as plt

for col in df3.select_dtypes(['object']):
    df3[col] = df2[col].astype('category')


for col in df3.select_dtypes(['category']):
    df3[col] = df3[col].cat.codes
df3 = df3[df2.anomaly==1].copy()
X2 = df3.drop(columns=['SalePrice', 'anomaly_label', 'anomaly', 'anomaly_score'])
X2 = pd.get_dummies(X2, drop_first=True)
y2 = df3['SalePrice']
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.3, random_state=42)

model2 = RandomForestRegressor()
model2.fit(X2, y2)
y2_test_pred = model2.predict(X2_test)
y2_train_pred = model2.predict(X2_train)
def RMSE(y2_, y2_pred_):
    return ((y2_ - y2_pred_) ** 2).mean() ** 0.5

print(f'Train RMSE: {RMSE(y2_train, y2_train_pred):.3f}')
print(f'Test RMSE: {RMSE(y2_test, y2_test_pred):.3f}')

<ipython-input-175-fd22e2e00f29>:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df3 = df3[df2.anomaly==1].copy()

Train RMSE: 2581.354
Test RMSE: 2588.960

In [ ]:
import joblib
model_data2 = [model2, iso_forest]


# Save the model with compression (compression level can be from 0 to 9)
joblib.dump(model_data2, '/content/4.2.25_#14.pkl')

['/content/4.2.25_#14.pkl']

In [220]:

df_valid = pd.read_csv("Valid.csv")

In [221]:
print(df_valid.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Blade_Extension', 'Blade_Width', 'Enclosure_Type',
       'Engine_Horsepower', 'Hydraulics', 'Pushblock', 'Ripper', 'Scarifier',
       'Tip_Control', 'Tire_Size', 'Coupler', 'Coupler_System',
       'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls'],
      dtype='object')

In [223]:
print(df_valid.shape)
print(X2.shape)

(11573, 52)
(359340, 51)

In [224]:
# create and Convert 'date_of_sale' to datetime format (ensure the correct format is used for 'saledate')
df_valid['date_of_sale'] = pd.to_datetime(df_valid['saledate'], format='%m/%d/%Y %H:%M', errors='coerce')

# Calculate car age, excluding rows where 'YearMade' is 1000
df_valid['CarAge'] = df_valid.apply(lambda row: (row['date_of_sale'] - pd.to_datetime(str(row['YearMade']), format='%Y')).days // 365 if row['YearMade'] != 1000 else np.nan, axis=1)

# View the updated dataframe
print(df_valid.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter UsageBand       saledate fiModelDesc  ...  \
0                       0.0       NaN  1/5/2012 0:00        375L  ...
1                    4412.0    Medium  1/5/2012 0:00    TX300LC2  ...
2                   10127.0    Medium  1/5/2012 0:00       270LC  ...
3                    4682.0       Low  1/5/2012 0:00      892DLC  ...
4                    8150.0    Medium  1/4/2012 0:00        544H  ...

                 Thumb      Pattern_Changer Grouser_Type Backhoe_Mounting  \
0  None or Unspecified  None or Unspecified       Double              NaN
1  None or Unspecified                  Yes       Double              NaN
2  None or Unspecified  None or Unspecified       Double              NaN
3  None or Unspecified  None or Unspecified       Double              NaN
4                  NaN                  NaN          NaN              NaN

  Blade_Type Travel_Controls Differential_Type Steering_Controls date_of_sale  \
0        NaN             NaN               NaN               NaN   2012-01-05
1        NaN             NaN               NaN               NaN   2012-01-05
2        NaN             NaN               NaN               NaN   2012-01-05
3        NaN             NaN               NaN               NaN   2012-01-05
4        NaN             NaN          Standard      Conventional   2012-01-04

  CarAge
0    NaN
1    6.0
2   12.0
3    NaN
4   10.0

[5 rows x 54 columns]

In [225]:
# Function to determine the season based on meteorological seasons
def get_season(date):
    if pd.isna(date):
        return None

    month = date.month
    if month in [12, 1, 2]:
        return 'winter'
    elif month in [3, 4, 5]:
        return 'spring'
    elif month in [6, 7, 8]:
        return 'summer'
    else:  # month in [9, 10, 11]
        return 'autumn'

# Apply the function to the dataset
df_valid['season'] = df_valid['date_of_sale'].apply(get_season)

# Display the updated data
print(df_valid[['date_of_sale', 'season']].head())

  date_of_sale  season
0   2012-01-05  winter
1   2012-01-05  winter
2   2012-01-05  winter
3   2012-01-05  winter
4   2012-01-04  winter

In [226]:
print(df_valid.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Blade_Extension', 'Blade_Width', 'Enclosure_Type',
       'Engine_Horsepower', 'Hydraulics', 'Pushblock', 'Ripper', 'Scarifier',
       'Tip_Control', 'Tire_Size', 'Coupler', 'Coupler_System',
       'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'date_of_sale', 'CarAge',
       'season'],
      dtype='object')

In [229]:
# Extract numerical features from the date
df_valid['year'] = df_valid['date_of_sale'].dt.year
df_valid['month'] = df_valid['date_of_sale'].dt.month
df_valid['day'] = df_valid['date_of_sale'].dt.day
df_valid['day_of_week'] = df_valid['date_of_sale'].dt.dayofweek  # Optional

# Drop the original 'date_of_sale' column
df_valid.drop(columns=['date_of_sale'], inplace=True)

In [230]:
print(df_valid.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Blade_Extension', 'Blade_Width', 'Enclosure_Type',
       'Engine_Horsepower', 'Hydraulics', 'Pushblock', 'Ripper', 'Scarifier',
       'Tip_Control', 'Tire_Size', 'Coupler', 'Coupler_System',
       'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge', 'season', 'year',
       'month', 'day', 'day_of_week'],
      dtype='object')

In [232]:
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 58 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 4031 non-null   object
 8   saledate                  11573 non-null  object
 9   fiModelDesc               11573 non-null  object
 10  fiBaseModel               11573 non-null  object
 11  fiSecondaryDesc           8037 non-null   object
 12  fiModelSeries             1759 non-null   object
 13  fiModelDescriptor         2897 non-null   object
 14  ProductSize               5743 non-null   object
 15  fiProductClassDesc        11573 non-null  object
 16  state                     11573 non-null  object
 17  ProductGroup              11573 non-null  object
 18  ProductGroupDesc          11573 non-null  object
 19  Drive_System              2726 non-null   object
 20  Enclosure                 11564 non-null  object
 21  Forks                     5638 non-null   object
 22  Pad_Type                  1962 non-null   object
 23  Ride_Control              4122 non-null   object
 24  Stick                     1962 non-null   object
 25  Transmission              4777 non-null   object
 26  Turbocharged              1962 non-null   object
 27  Blade_Extension           764 non-null    object
 28  Blade_Width               764 non-null    object
 29  Enclosure_Type            764 non-null    object
 30  Engine_Horsepower         764 non-null    object
 31  Hydraulics                9563 non-null   object
 32  Pushblock                 764 non-null    object
 33  Ripper                    2808 non-null   object
 34  Scarifier                 764 non-null    object
 35  Tip_Control               764 non-null    object
 36  Tire_Size                 2920 non-null   object
 37  Coupler                   6727 non-null   object
 38  Coupler_System            1516 non-null   object
 39  Grouser_Tracks            1513 non-null   object
 40  Hydraulics_Flow           1513 non-null   object
 41  Track_Type                3040 non-null   object
 42  Undercarriage_Pad_Width   3044 non-null   object
 43  Stick_Length              3043 non-null   object
 44  Thumb                     3044 non-null   object
 45  Pattern_Changer           3043 non-null   object
 46  Grouser_Type              3040 non-null   object
 47  Backhoe_Mounting          2040 non-null   object
 48  Blade_Type                2042 non-null   object
 49  Travel_Controls           2043 non-null   object
 50  Differential_Type         2153 non-null   object
 51  Steering_Controls         2153 non-null   object
 52  CarAge                    10367 non-null  float64
 53  season                    11573 non-null  object
 54  year                      11573 non-null  int32
 55  month                     11573 non-null  int32
 56  day                       11573 non-null  int32
 57  day_of_week               11573 non-null  int32
dtypes: float64(2), int32(4), int64(6), object(46)
memory usage: 4.9+ MB

In [233]:
print(df_valid.shape)

(11573, 58)

In [234]:
for col in df_valid.select_dtypes(['object']):
    df_valid[col] = df_valid[col].astype('category')

for col in df_valid.select_dtypes(['category']):
    df_valid[col] = df_valid[col].cat.codes
df_valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11573 entries, 0 to 11572
Data columns (total 58 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SalesID                   11573 non-null  int64
 1   MachineID                 11573 non-null  int64
 2   ModelID                   11573 non-null  int64
 3   datasource                11573 non-null  int64
 4   auctioneerID              11573 non-null  int64
 5   YearMade                  11573 non-null  int64
 6   MachineHoursCurrentMeter  4739 non-null   float64
 7   UsageBand                 11573 non-null  int8
 8   saledate                  11573 non-null  int8
 9   fiModelDesc               11573 non-null  int16
 10  fiBaseModel               11573 non-null  int16
 11  fiSecondaryDesc           11573 non-null  int8
 12  fiModelSeries             11573 non-null  int8
 13  fiModelDescriptor         11573 non-null  int8
 14  ProductSize               11573 non-null  int8
 15  fiProductClassDesc        11573 non-null  int8
 16  state                     11573 non-null  int8
 17  ProductGroup              11573 non-null  int8
 18  ProductGroupDesc          11573 non-null  int8
 19  Drive_System              11573 non-null  int8
 20  Enclosure                 11573 non-null  int8
 21  Forks                     11573 non-null  int8
 22  Pad_Type                  11573 non-null  int8
 23  Ride_Control              11573 non-null  int8
 24  Stick                     11573 non-null  int8
 25  Transmission              11573 non-null  int8
 26  Turbocharged              11573 non-null  int8
 27  Blade_Extension           11573 non-null  int8
 28  Blade_Width               11573 non-null  int8
 29  Enclosure_Type            11573 non-null  int8
 30  Engine_Horsepower         11573 non-null  int8
 31  Hydraulics                11573 non-null  int8
 32  Pushblock                 11573 non-null  int8
 33  Ripper                    11573 non-null  int8
 34  Scarifier                 11573 non-null  int8
 35  Tip_Control               11573 non-null  int8
 36  Tire_Size                 11573 non-null  int8
 37  Coupler                   11573 non-null  int8
 38  Coupler_System            11573 non-null  int8
 39  Grouser_Tracks            11573 non-null  int8
 40  Hydraulics_Flow           11573 non-null  int8
 41  Track_Type                11573 non-null  int8
 42  Undercarriage_Pad_Width   11573 non-null  int8
 43  Stick_Length              11573 non-null  int8
 44  Thumb                     11573 non-null  int8
 45  Pattern_Changer           11573 non-null  int8
 46  Grouser_Type              11573 non-null  int8
 47  Backhoe_Mounting          11573 non-null  int8
 48  Blade_Type                11573 non-null  int8
 49  Travel_Controls           11573 non-null  int8
 50  Differential_Type         11573 non-null  int8
 51  Steering_Controls         11573 non-null  int8
 52  CarAge                    10367 non-null  float64
 53  season                    11573 non-null  int8
 54  year                      11573 non-null  int32
 55  month                     11573 non-null  int32
 56  day                       11573 non-null  int32
 57  day_of_week               11573 non-null  int32
dtypes: float64(2), int16(2), int32(4), int64(6), int8(44)
memory usage: 1.4 MB

In [235]:
print(X2.shape)  # Shape of the data you're passing to decision_function
print(df_valid.shape)  # Shape of the DataFrame you're adding the 'anomaly_score' to

(359340, 51)
(11573, 58)

In [236]:
print(df_valid.columns)
print(X2.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Blade_Extension', 'Blade_Width', 'Enclosure_Type',
       'Engine_Horsepower', 'Hydraulics', 'Pushblock', 'Ripper', 'Scarifier',
       'Tip_Control', 'Tire_Size', 'Coupler', 'Coupler_System',
       'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge', 'season', 'year',
       'month', 'day', 'day_of_week'],
      dtype='object')
Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge', 'season', 'year',
       'month', 'day', 'day_of_week'],
      dtype='object')

In [243]:
# Get the columns of both DataFrames
df_valid_columns = set(df_valid.columns)
X2_columns = set(X2.columns)

# Find columns present in df_valid but missing in X2
columns_to_drop = df_valid_columns - X2_columns

# Drop the missing columns from df_valid
df_valid.drop(columns=columns_to_drop, inplace=True)

print(f"Columns dropped: {columns_to_drop}")
print("Updated df_valid columns:")
print(df_valid.columns)

Columns dropped: {'Scarifier', 'Engine_Horsepower', 'Blade_Width', 'Blade_Extension', 'Pushblock', 'Tip_Control', 'Enclosure_Type'}
Updated df_valid columns:
Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge', 'season', 'year',
       'month', 'day', 'day_of_week'],
      dtype='object')

In [244]:
print(X2.shape)  # Shape of the data you're passing to decision_function
print(df_valid.shape)  # Shape of the DataFrame you're adding the 'anomaly_score' to

(359340, 51)
(11573, 51)

In [245]:
print(df_valid.columns)
print(X2.columns)

Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge', 'season', 'year',
       'month', 'day', 'day_of_week'],
      dtype='object')
Index(['SalesID', 'MachineID', 'ModelID', 'datasource', 'auctioneerID',
       'YearMade', 'MachineHoursCurrentMeter', 'UsageBand', 'saledate',
       'fiModelDesc', 'fiBaseModel', 'fiSecondaryDesc', 'fiModelSeries',
       'fiModelDescriptor', 'ProductSize', 'fiProductClassDesc', 'state',
       'ProductGroup', 'ProductGroupDesc', 'Drive_System', 'Enclosure',
       'Forks', 'Pad_Type', 'Ride_Control', 'Stick', 'Transmission',
       'Turbocharged', 'Hydraulics', 'Ripper', 'Tire_Size', 'Coupler',
       'Coupler_System', 'Grouser_Tracks', 'Hydraulics_Flow', 'Track_Type',
       'Undercarriage_Pad_Width', 'Stick_Length', 'Thumb', 'Pattern_Changer',
       'Grouser_Type', 'Backhoe_Mounting', 'Blade_Type', 'Travel_Controls',
       'Differential_Type', 'Steering_Controls', 'CarAge', 'season', 'year',
       'month', 'day', 'day_of_week'],
      dtype='object')

In [255]:
# Step 1: Prepare df_valid1 by dropping unnecessary columns that shouldn't be in the features
df_valid1_processed = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label', 'date_of_sale'], errors='ignore')

# Check the first few rows to verify
print(df_valid1_processed.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge  \
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

   season  year  month  day  day_of_week
0       1  2012      1    5            3
1       1  2012      1    5            3
2       1  2012      1    5            3
3       1  2012      1    5            3
4       1  2012      1    4            2

[5 rows x 51 columns]

In [256]:
# Step 2: Apply one-hot encoding to the processed validation data
df_valid1_processed = pd.get_dummies(df_valid1_processed, drop_first=True)

# Check the first few rows to verify the encoding
print(df_valid1_processed.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge  \
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

   season  year  month  day  day_of_week
0       1  2012      1    5            3
1       1  2012      1    5            3
2       1  2012      1    5            3
3       1  2012      1    5            3
4       1  2012      1    4            2

[5 rows x 51 columns]

In [257]:
# Step 3: Align the columns between the validation set and the training set (X2)
df_valid1_processed = df_valid1_processed.reindex(columns=X2.columns, fill_value=0)

# Check the first few rows to verify the alignment
print(df_valid1_processed.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge  \
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

   season  year  month  day  day_of_week
0       1  2012      1    5            3
1       1  2012      1    5            3
2       1  2012      1    5            3
3       1  2012      1    5            3
4       1  2012      1    4            2

[5 rows x 51 columns]

The model expects the feature names used during training (fit) to match exactly with the feature names provided during prediction (predict or decision_function). The error message indicates that saledate is present during prediction but was not used during training.

Steps to Fix
Ensure Consistent Features Between Training and Prediction

In [259]:
# Identify the features used during training by checking the model's feature_names_in_ attribute:

print(iso_forest.feature_names_in_)

['SalesID' 'MachineID' 'ModelID' 'datasource' 'auctioneerID' 'YearMade'
 'MachineHoursCurrentMeter' 'UsageBand' 'fiModelDesc' 'fiBaseModel'
 'fiSecondaryDesc' 'fiModelSeries' 'fiModelDescriptor' 'ProductSize'
 'fiProductClassDesc' 'state' 'ProductGroup' 'ProductGroupDesc'
 'Drive_System' 'Enclosure' 'Forks' 'Pad_Type' 'Ride_Control' 'Stick'
 'Transmission' 'Turbocharged' 'Hydraulics' 'Ripper' 'Tire_Size' 'Coupler'
 'Coupler_System' 'Grouser_Tracks' 'Hydraulics_Flow' 'Track_Type'
 'Undercarriage_Pad_Width' 'Stick_Length' 'Thumb' 'Pattern_Changer'
 'Grouser_Type' 'Backhoe_Mounting' 'Blade_Type' 'Travel_Controls'
 'Differential_Type' 'Steering_Controls' 'CarAge' 'season' 'year' 'month'
 'day' 'day_of_week']

Remove any extra features not present in this list from the prediction data.
Drop Extra Columns Update your code to ensure the processed data matches the features used during training:

In [260]:

# Align df_valid1_processed to have the same columns as those used during training
training_columns = iso_forest.feature_names_in_

# Select only the columns used during training
df_valid1_processed = df_valid1_processed[training_columns]

Remove any extra features not present in this list from the prediction data.
Drop Extra Columns Update your code to ensure the processed data matches the features used during training:

In [261]:
df_valid1_processed = df_valid1_processed.drop(columns=['saledate'], errors='ignore')

Verify One-Hot Encoding Consistency

Ensure the same categorical columns were encoded during training and prediction.
Use the same pd.get_dummies() setup or save the encoding from training to apply it consistently.
Check Feature Order The feature names must not only match but also appear in the same order as during training. If necessary, reorder the columns in df_valid1_processed to match the training data.

In [262]:
# Ensure feature names match those used during training
training_columns = iso_forest.feature_names_in_

# Keep only the training features and reorder columns to match the training data
df_valid1_processed = df_valid1_processed[training_columns]

# Compute anomaly scores and predictions
df_valid1['anomaly_score'] = iso_forest.decision_function(df_valid1_processed)
df_valid1['anomaly'] = iso_forest.predict(df_valid1_processed)

# Map predictions to labels
df_valid1['anomaly_label'] = df_valid1['anomaly'].map({1: 'Normal', -1: 'Anomaly'})

# Verify the output
print(df_valid1[['anomaly_score', 'anomaly', 'anomaly_label']].head())

   anomaly_score  anomaly anomaly_label
0       0.056413        1        Normal
1       0.005246        1        Normal
2       0.051913        1        Normal
3       0.043451        1        Normal
4       0.052035        1        Normal

In [263]:
# Step 6: Prepare the features for prediction (drop anomaly-related columns again)
X_valid = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label', 'date_of_sale'], errors='ignore')

# Apply one-hot encoding to match the training set
X_valid = pd.get_dummies(X_valid, drop_first=True)

# Align columns to match the training set (X2)
X_valid = X_valid.reindex(columns=X2.columns, fill_value=0)

# Check the first few rows to verify
print(X_valid.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Blade_Type  Travel_Controls  Differential_Type  Steering_Controls  CarAge  \
0          -1               -1                 -1                 -1     NaN
1          -1               -1                 -1                 -1     6.0
2          -1               -1                 -1                 -1    12.0
3          -1               -1                 -1                 -1     NaN
4          -1               -1                  2                  1    10.0

   season  year  month  day  day_of_week
0       1  2012      1    5            3
1       1  2012      1    5            3
2       1  2012      1    5            3
3       1  2012      1    5            3
4       1  2012      1    4            2

[5 rows x 51 columns]

In [264]:
# Step 7: Make predictions using the trained RandomForestRegressor model
y_pred = model2.predict(X_valid)

# Optionally, add the predictions to df_valid1
df_valid1['y_pred'] = y_pred

# Check the first few rows of the validation data with predictions
print(df_valid1[['y_pred']].head())

    y_pred
0  19540.0
1  62880.0
2  27820.0
3  18593.5
4  29970.0

In [265]:
# Step 8: Drop unwanted columns after adding predictions
df_valid1 = df_valid1.drop(columns=['anomaly_score', 'anomaly', 'anomaly_label'], errors='ignore')

# Step 9: Check the resulting DataFrame
print(df_valid1.head())

   SalesID  MachineID  ModelID  datasource  auctioneerID  YearMade  \
0  1222837     902859     1376         121             3      1000
1  1222839    1048320    36526         121             3      2006
2  1222841     999308     4587         121             3      2000
3  1222843    1062425     1954         121             3      1000
4  1222845    1032841     4701         121             3      2002

   MachineHoursCurrentMeter  UsageBand  saledate  fiModelDesc  ...  \
0                       0.0         -1        19          293  ...
1                    4412.0          2        19         1611  ...
2                   10127.0          2        19          160  ...
3                    4682.0          1        19          686  ...
4                    8150.0          2        18          397  ...

   Travel_Controls  Differential_Type  Steering_Controls  CarAge  season  \
0               -1                 -1                 -1     NaN       1
1               -1                 -1                 -1     6.0       1
2               -1                 -1                 -1    12.0       1
3               -1                 -1                 -1     NaN       1
4               -1                  2                  1    10.0       1

   year  month  day  day_of_week   y_pred
0  2012      1    5            3  19540.0
1  2012      1    5            3  62880.0
2  2012      1    5            3  27820.0
3  2012      1    5            3  18593.5
4  2012      1    4            2  29970.0

[5 rows x 52 columns]

In [266]:
df_valid1.to_csv('clean_pred_V14.csv', index=False)